h1{
    color:blue;
}

/* .col{
    background-color: bisque;
} */

.col-sm-{
    background-color: aqua;
}
.box{
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

.nav-item{
    font-size: 0.75rem;
}

.table-hover tbody tr:hover td{
    background-color: burlywood;
}

a {
    text-decoration: none;
}
